/**
 * General styles
 *
 */
.nutriment table {
    border-collapse: collapse;
    margin-bottom: 1%;
    width: 25%;
}
.nutriment td , th {
    padding-left: 1%;
    padding-top: 2%;
    border-width: 1.5px;
    border-style: solid;
    border-color : #9ee04d;
}
.recherche {
    background-color: #4e5d66 ;
    border-color: #9ee04d ;
    border-width: thin;
    border-style: solid ;
    color: white;
}
.accueil {
    text-decoration: none;
}

.inscript {
    margin-top: 0.5%;
    font-size: 50%;
    color :white;
    text-align: center;
    border-radius: 25px;
    border-width: thin;
    border-style: solid;
    border-color:#9ee04d;
    background-color: inherit;
 }
.inscription {
    margin-top: 0.5%;
    font-size: 50%;
    color :white;
    text-align: center;
    border-radius: 25px;
    border-width: thin;
    border-style: solid;
    border-color:#9ee04d;
    background-color:#9ee04d;
 }
 a {
     color: #9ee04d;
 }
body{
    margin:0;
    padding:0;
    background-color: #4e5d66;
    color: white;
}
img {
  align-self: baseline;
}
.dummy {
    padding-top: 100%;
}
/**
 * Header styles
 *
 */

header{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;

    position:fixed;
    top:0;
    width: 100%;
    height:10%;
}

.top_header{
    background-color: #2b3b47;
    height:50%;
}

.bot_header{
    height: 50%;
    background-color: #9ee04d;
    font-size: 14px;
    color: #FFFFFF;

}
.top_header_container{
    height: 50%;
    max-width:1240px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    font-size: 3.5vh;
    color: #9ee04d;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
}
.top_header_container select{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 2.5vh;
    background-color: #4e5d66;
    color: #ffffff;
    border-style: solid;
    border-color: #9ee04d;

}

.icon{
    position: relative;
    top: 25%;
    left: 0.5%;
    height: 3vh;
}

.menuContent {
    display: flex;
    position: absolute;
    background-color: inherit;
    width: 15%;
    float:right;
    top:100%;
    right:0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    /*visibility: hidden;*/
    transform: translate(0,-100%);
    transition: transform 0.3s linear;
}

.hidden {
    transform: translate(0,5%);

    visibility: visible;
}

.normalHidden {
    display: none;
}

.profilButton{
    display:flex;
    cursor: pointer;
    width: 25%;
    height: 100%;
}

/**
 * Profil bar
 *
 */

.arrow {
    height: 5%;
    width: 5%;
    margin-top: 5%;
}
.arrow-up{
    transform:  translate(0, -300%) rotateX(0deg);
    transition: transform 0.2s linear;
}
.arrow-down{
    transform: translate(0, 400%) rotateX(180deg);
    transition: transform 0.2s linear;
}

/**
 * Profil
 *
 */

.tab_container {
    display: flex;
}
.tab_profil {
     background-color: #2b3b47;
}

/**
 * Page
 *
 */

.full_page_container {
    width: 1240px;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }
.filter_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.overlay {
    height: 100%;
    width: 100%;
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
}
/*
#search{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 25px;
    padding-top: 8px;
}*/
