.menuButtonClosed, .menuButtonOpened {
    cursor: pointer;
}

.menuButtonOpened .arrow {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #4e5d66;
}

body{
    margin:0;
    padding:0;
}
header{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
}

#top_header{
    background-color: #2b3b47;
    font-size: 30px;
    color: #9ee04d;
    padding-top: 10px;
    padding-bottom: 10px;
}
#bot_header{
    background-color: #9ee04d;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 18px;
}
#search{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 25px;
    padding-top: 8px;
}
#logo_svg{
    height: 25px;
}
