        <span id="erreur_message"></span>
        <form>
            <table width="500" align="center">
                <tr align="center">
                    <td colspan="3"><h2>Se connecter</h2></td>
                </tr>
                <tr>
                    <td align="right">
                        <b>Nom d'utilisateur ou E-mail</b>
                    </td>
                    <td>
                        <input id="login" type="text" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <b>Mot de passe:</b>
                    </td>
                    <td>
                        <input id="password" type="password" required="required">
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="3">
                        <a href="#" onclick="sendFormConnexion();">Se connecter</a>
                    </td>
                </tr>
            </table>
        </form>
