		<header>
			<div id="top_header">

				<form action="resultat_de_recherche.php" method="get">
					In'Food
					<select name = "type" id="type">
						<option value="aliment" selected>
							Produits
						</option>
					</select>
					<input type="text" name="recherche" placeholder="Rechercher sur In'Food"/>
					<input id="logo_svg" type="image" src="logo.svg"/>
					<a href="todo"><img src="todo"/></a>
					<a href="connectionessai.php"><button> Inscription</button></a>
					<a href="connectionessai.php?connexion=Se+connecter"><button> Connexion</button></a>
				</form>
			</div>
		</header>
