    <span id="erreur_message_inscription"></span>
    <form>
        <table>
            <tr>
                <td>Pseudo :</td>
                <td><input type="text" id="pseudo"/></td>
            </tr>
            <tr>
                <td>E-mail :</td>
                <td><input type="email" id="email"/></td>
            </tr>
            <tr>
                <td>Mot de passe :</td>
                <td><input type="password" id="password_inscription"/></td>
            </tr>
            <tr>
                <td>Confirmer le mot de passe :</td>
                <td><input type="password" id="password_confirm"/></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a  onclick="sendFormInscription();">S'inscrire</a>
                </td>
            </tr>
        </table>
    </form>
