<form action='controller/functions/compare.php' method='POST'>
           <input type='hidden' name='action' value='compare'/>
           <input type='hidden' name='id' value='".$_GET['id']."'/>
           <input type='submit' value="ajouter en comparaison" style="margin-top: 0.5%;
           font-size: 17px;
           color :white;
           text-align: center;
           border-radius: 100px;
           border-width: thin;
           border-style: solid;
           border-color:#9ee04d;
           background-color: inherit;"/>
       </form>
